# **Data Science project1**

# **Task:1 TITANIC SURVIVAL PREDICTION**

In [1]:
import pandas as pd
import numpy as np

# load data
df=pd.read_csv('/content/drive/MyDrive/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [2]:
df.drop('Cabin', axis=1, inplace=True)
from sklearn.preprocessing import LabelEncoder
label_encoders = {}

# encode the data
column_names=['PassengerId',	'Pclass',	'Name',	'Sex',	'Age',	'SibSp',	'Parch',	'Ticket',	'Fare',	'Embarked']
for column in column_names:
  label_encoders [column]=LabelEncoder()
  df[column]=label_encoders[column] .fit_transform(df[column])

In [3]:
from sklearn.model_selection import train_test_split
# split data in two part
data=df.drop("Survived",axis=1)
target=df["Survived"]
print(target)

# if both the shape are equal then we can fit data
print(data.shape)
print(target.shape)

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64
(418, 10)
(418,)

In [4]:
# check all null values
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [5]:
# fill all null values wid col mean values
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Fare'].fillna(df['Fare'].mean(), inplace=True)
# df.dropna(inplace=True)
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [6]:
from sklearn.model_selection import  train_test_split
from sklearn.ensemble import RandomForestClassifier

# split the data in traning and testing model
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=42)

# train the model
model= RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# test the accuray of model
prediction = model.score(X_test, y_test)
print(prediction)

1.0

In [7]:
# encode the testing of model
def encode_new_data(new_data_point, label_encoders, column_names):
    new_data_encoded = []
    for value, column in zip(new_data_point, column_names):
        if column in label_encoders:
            # Encode the categorical value
            value = label_encoders[column].transform([str(value)])[0]
        new_data_encoded.append(value)
    return new_data_encoded

In [8]:
# testing of model
data_set_col=[892,	3,	'Kelly, Mr. James',	'male',	34.5,	0,	0,	330911,	7.8292,	'Q']
data_set=encode_new_data(data_set_col, label_encoders, column_names)
model.predict([data_set])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0])